// @Brian Jensen on Slack confirmed this valid for the assessment 
// although it creates another request from the resulting stylesheet
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

// define variables for repeated values here

// colors 
$color-primary: #58e1c1; // turquoise-greenish
$color-secondary: #51ddfc; // teal - blue - default

$color-text: #aaaaaa;
$white: #ffffff;

$color-default: $color-secondary;
$color-success: #63cc82;
$color-error: #e4757a;
$color-warning: #fd7856;
$color-info: #927bc1;

$container-width: 1100px;

$btns: (
  "default": $color-default,
  "success": $color-success,
  "error"  : $color-error,
  "warning": $color-warning,
  "info"   : $color-info,
 );



$breakpoints: (
  "xs": 575px, // less then this
  "sm": 576px, // greater then ... all the following
  "md": 768px,
  "lg": 1024px,
 );

$column-colors: (
   1 : lighten($color-primary, 10%),
   2 : lighten($color-success, 10%),
   3 : lighten($color-info, 10%),
   4 : darken($color-default, 10%),
   5 : darken($color-primary, 20%),
   6 : darken($color-secondary, 20%),
   7 : lighten($color-error, 10%),
   8 : lighten($color-warning, 5%),
   9 : darken($color-success, 33%),
   10: darken($color-info, 33%),
   11: darken($color-error, 33%),
   12: $color-primary,
);


