// @Brian Jensen on Slack confirmed this valid for the assessment 
// although it creates another request from the resulting stylesheet
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

// define variables for repeated values here

// colors 
$color-primary: #58e1c1; // turquoise-greenish
$color-secondary: #51ddfc; // teal - blue - default

$color-text: #aaaaaa;

$color-default: $color-secondary;
$color-success: #63cc82;
$color-error: #e4757a;
$color-warning: #fd7856;
$color-info: #927bc1;

$container-width: 1100px;

$breakpoint-xs: 575px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
