.btn{
  @each $name, $color in $btns {
    &--#{$name}{
      @extend %btn;
      background-color: $color;
      transition-duration: .3s;
      &:hover{
        background-color: darken($color, 10%);
      }
    }
  }
}