[class^="img"]{
  max-width: 100%;        // don't allow images to overflow the container
  margin: 0 auto;         // override if not needed.
  display: inline-block;
  display: inherit;
}

.img{
  &--frame{
    padding: 10px;
    border: thin solid $color-text;
  }
  &--avatar{
    // make sure the avatar image is actually round this allows us to use a bg img instead.
    border-radius: 50%;
  }
} 