.container {
  font-weight: 400;
  line-height: 1.75;
  color: #333;
}

.headline{
  &--primary{
    @extend %headline;
    display: inline-block; // cant apply margin to inline elements 
    margin-top: 0;
    margin-left: .5em;
    font-size: 2em;
    font-weight: bold;
    color: $color-primary;
  }
  &--secondary{
    @extend %headline;
    font-size: 1em;
    font-weight: 100;
  }
}

p{
  font-size: 1.125em;
}

.blockquote{
  font-size: 1.6em;
  line-height: 1.2;
  padding-left: 20px;
  border-left: 10px solid $color-primary;
  border-radius: 5px;
  color: darken($color-text, 10%);
  font-style: italic;
}
.link{
  color: $color-secondary;
  font-size: 1.1em;
  &:hover{
    color: $white;
    text-decoration: underline;
  }
}