// variables should be defined here but the assment says to place the variables in the utilities folder
@import '../utilities/variables';
*{
  box-sizing: border-box;
  /* @import from google  */
  font-family: 'Lato', sans-serif;
  color: $color-text; 
  font-size: 16px;
  
  // remove when not debugging
  // outline: 1px solid tomato;
}
ul{
  list-style:none;
  padding: 0;
}
p{
  @extend %base-typography;
  text-align: left;
  font-size: 1.125em;
}

a{
  text-decoration: none;
  font-weight: bold;

}
// paragraphs
